<?xml version="1.0" ?>
<!--
  Top-level URDF for the ANTBot Gazebo simulation.
  Combines the shared core (antbot_description/urdf/antbot_core.xacro) with
  Gazebo-specific ros2_control (ign_ros2_control) and sensor plugins.

  For the real-hardware variant, see antbot_description/urdf/antbot.xacro.
-->
<robot name="antbot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find antbot_description)/urdf/antbot_core.xacro"/>
  <xacro:include filename="$(find antbot_gazebo)/urdf/ros2_control_gazebo.xacro"/>
  <xacro:include filename="$(find antbot_gazebo)/urdf/gazebo_plugins.xacro"/>

  <xacro:AntbotCore/>
  <xacro:AntbotRos2ControlGazebo/>

</robot>
